body{
    background-color: #B5FFFC;
 
    
}
.dice-image{
    width: 150px;
    height: 150px;
    margin: 20px auto;
    display: block;
}
.title{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color:black;
}
.btn{
    width: 200px;
    display: block;
    margin: 20px auto;
    font-size: 25px;
    padding: 10px 10px;
    border: none; 
    color: aliceblue;
    cursor: pointer;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    border-radius: 20px;
}

